.SearchScene {
  display: flex;
  justify-content: space-between;
}

.SearchScene .candidate-videos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
}