.TimeLabel {
  position: relative;
  margin-bottom: 0.5em;
  border-top: 0.5em solid grey;
}

.TimeLabel .label-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.TimeLabel p {
  margin-right: 0.5em;
}