.TopBar {
  display: flex;
  justify-content: space-between;
}

.TopBar .bar-left {
  width: 30vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.TopBar .tab-grow {
  flex-grow: 1;
}

.TopBar .title {
  margin-left: 0.5em;
}

.TopBar .app-bar {
  background-color: #333 !important;
}

.margin-right {
  margin-right: 0.5em;
}

.TopBar .bar-right {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}