.TopBar {
  display: flex;
  justify-content: space-between;
}

.TopBar .tab-grow {
  flex-grow: 1;
}

.TopBar .title {
  margin-left: 1em;
}

.app-bar {
  background-color: #333 !important;
}

.margin-right {
  margin-right: 0.5em;
}