.VideoCard {
  width: 100%;
  position: relative;
}

.VideoCard img {
  width: 100%;
}

.VideoCard .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  background-color: #000;
  opacity: 0.6;
}

.VideoCard .card-icon-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
  padding: 1em;
  pointer-events: none;
}