.LabelWorkspace {
  display: flex;
  justify-content: space-between;
}

.LabelWorkspace .main-label {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
}

.LabelWorkspace .main-label .choose-label-list {
  padding-top: 0.5em;
}

.LabelWorkspace .main-label .labels-list {
  /* Correct scrollbar -17px */
  padding: 1em 2em;
  padding-right: calc(2em - 17px);
  position: relative;
}

.LabelWorkspace .main-label .fixed-top {
  padding: 2em;
}

.LabelWorkspace .main-label .scroll-bottom {
  overflow-y: scroll;
}

.LabelWorkspace .main-label .finish-btn {
  padding: 0.3em 2em;
}

.LabelWorkspace .side-panel-divider {
  padding: 2em 0;
}

.LabelWorkspace .vertical-space {
  margin: 2em 0;
}

.LabelWorkspace .bottom-margin {
  margin-bottom: 2em;
}

.LabelWorkspace .label-chip {
  margin: 0 0.5em 0.5em 0;
}

.LabelWorkspace .margin-right {
  margin-right: 0.5em;
}