.SearchWorkspace {
  display: flex;
  justify-content: space-between;
}

.side-panel-divider {
  padding: 2em 0;
}

.slider-container {
  padding: 2em 1em;
  height: 60px;
}

.search-results {
  height: calc(100vh - 50px - 60px); /* -TopBar -slider-container */
  overflow-y: scroll;
}