.SearchWorkspace {
  display: flex;
  justify-content: space-between;
}

.SearchWorkspace .side-panel-divider {
  padding: 2em 0;
}

.SearchWorkspace .slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 1em;
}

.SearchWorkspace .search-results {
  /* all height - TopBar(64) - slider-container(50) -page-controls(50) */
  height: calc(100vh - 164px);
  overflow-y: scroll;
  padding: 1em;
}

.SearchWorkspace .button-top-margin {
  margin-top: 0.5em;
}

.SearchWorkspace .grid-tile div:first-of-type {
  overflow: visible;
}

.SearchWorkspace .divided-scroll {
  display: flex;
  flex-direction: column;
  /*all height - TopBar(64) - slider-container(50)*/
  height: calc(100vh - 114px);
  margin: 0;
  padding: 0;
}

.SearchWorkspace .scroll-requested {
  overflow-y: scroll;
  margin: 0 -1em;
  padding: 0 1em;
}

.SearchWorkspace .margin-bottom {
  margin-bottom: 2em;
}

.SearchWorkspace .right-margin {
  margin-right: 0.5em;
}

.SearchWorkspace .page-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 1em;
}

.SearchWorkspace .searching-state {
  display: flex;
  width: 100%;
  height: 10em;
  justify-content: center;
  align-items: center;
}