.SearchWorkspace {
  display: flex;
  justify-content: space-between;
}

.side-panel-divider {
  padding: 2em 0;
}

.slider-container {
  padding: 2em 1em;
  height: 60px;
}

.search-results {
  height: calc(100vh - 64px - 60px);
  /* all height - TopBar - slider-container */
  overflow-y: scroll;
  padding: 1em;
}

.button-top-margin {
  margin-top: 0.5em;
}

.grid-tile div:first-of-type {
  overflow: visible;
}

.divided-scroll {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px - 32px);
  margin: 0;
  padding: 0;
}

.scroll-requested {
  overflow-y: scroll;
}

.margin-bottom {
  margin-bottom: 2em;
}

.SearchWorkspace .right-margin {
  margin-right: 0.5em;
}