.StartScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.StartScreen .card-icon-container {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.StartScreen .start-button {
  margin-right: 0.5em;
}