.LabelScene {
  display: flex;
  justify-content: space-between;
}

.LabelScene .main-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.LabelScene video {
  width: 100%;
}

.LabelScene .video-range {
  width: 100%;
}

.main-label .video-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
}

.main-label .choose-label-list {

}

.main-label .labels-list {
  padding: 1em 0;
  position: relative;
}